{% extends '/Layout/Templates/base.html.twig' %}

{% block content %}
    {% form edit %}
        <div class="row fork-module-content">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="username" class="control-label">{{ 'lbl.Username'|trans|ucfirst }}</label>
                    {% form_field_error username %} {% form_field username %}
                    {% if detailURL %}
                        <a class="site-url" href="{{ detailURL }}">{{ detailURL }}/<span id="generatedUrl"></span></a>
                    {% endif %}
                    {% if not detailURL %}
                        <p class="text-warning"><span class="fa fa-warning"></span> {{ 'err.NoModuleLinked'|trans|ucfirst }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row fork-module-actions">
            <div class="col-md-12">
                <div class="btn-toolbar">
                    <div class="btn-group pull-left" role="group">
                        {% if showInstagramDelete %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
                                <span class="fa fa-trash-o"></span>
                                {{ 'lbl.Delete'|trans|ucfirst }}
                            </button>
                        {% endif %}
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <a href="#" id="saveAsDraft" class="btn btn-default">
                            <span class="fa fa-file-o"></span>{{ 'lbl.SaveDraft'|trans|ucfirst }}
                        </a>
                        <button id="editButton" type="submit" name="edit" class="btn btn-primary">
                            <span class="fa fa-check"></span>{{ 'lbl.Publish'|trans|ucfirst }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% if showInstagramDelete %}
            <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="{{ 'lbl.Delete'|trans|ucfirst }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'msg.ConfirmDelete'|trans|format(item.title) }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                            </button>
                            <a href="{{ geturl('delete' ) }}&amp;id={{ item.id }}{% if categoryId %}&amp;category={{ categoryId }}{% endif %}" class="btn btn-danger">
                                <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endform %}
{% endblock %}
