{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if showInstagramLogout and not authenticate %}
          {{ macro.buttonIcon( geturl('Logout'), 'close', 'lbl.Logout'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
    {% form settings %}
        <div class="row fork-module-content">
            <div class="col-md-12">

                {% if authenticate %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ 'lbl.Authentication'|trans|ucfirst }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-warning" role="alert">
                                {{ 'msg.AuthHelp'|trans|raw }}
                            </div>
                            <br>

                            <div class="form-group">
                                <label for="clientId" class="control-label">{{ 'lbl.ClientId'|trans|ucfirst }}</label>
                                {% form_field_error client_id %} {% form_field client_id %}
                            </div>
                            <div class="form-group">
                                <label for="clientSecret" class="control-label">{{ 'lbl.ClientSecret'|trans|ucfirst }}</label>
                                {% form_field_error client_secret %} {% form_field client_secret %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ 'lbl.Settings'|trans|ucfirst }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="numberRecentItems" class="control-label">{{ 'lbl.NumberOfRecentItems'|trans|ucfirst }}</label>
                                {% form_field_error num_recent_items %} {% form_field num_recent_items %}
                            </div>
                        </div>
                    </div>
                {% endif %}


                <div class="row fork-module-actions">
                    <div class="col-md-12">
                        <div class="btn-toolbar">
                            <div class="btn-group pull-right" role="group">
                                {% if authenticate %}
                                    <button id="save" type="submit" name="save" class="btn btn-primary">
                                        <span class="fa fa-floppy-o"></span>{{ 'lbl.Authenticate'|trans|ucfirst }}
                                    </button>
                                {% else %}
                                    <button id="save" type="submit" name="save" class="btn btn-primary">
                                        <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endform %}
{% endblock %}
